PUBLIC_API_PREFIX=/api/v1
PUBLIC_API_PORT=8000
SERVICE_DB_URL=sqlite+aiosqlite:///./data/storage.db

S3_HOST=localhost
S3_PORT=9000
S3_REGION=us-east-1
S3_SECURE=False
S3_VERIFY_CERTIFICATES=False
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=versioned-storage

LOG_LEVEL=INFO
NUMBER_OF_WORKERS=1
